.MuiBox-root-9 {
    padding: 7px !important;
}

.MuiBox-root-21 {
    padding: 1px !important;
}

.text-content {
    color: #50001B;
}

.text-title {
    padding-top: 5px;
    padding-bottom: 10px;
}

.text-image {
    float: right;
    padding-bottom: 15px;
}