/*.MuiBox-root-9 {*/
/*    padding: 7px !important;*/
/*}*/

/*.MuiBox-root-21 {*/
/*    padding: 1px !important;*/
/*}*/

.text-content {
    color: #50001B;
}

.MuiSvgIcon-root{
    border: none;
}

.accordion-content{
    margin: 18px;
}