.copyright-text {
    text-align: center;
}

.main-footer {
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-bar {
    right: 25px;
    position: absolute;

}

.social-icons li {
    display: inline;
    padding: 1px;
}