.main-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-top: 15px;
}

.bg-red {
    /*background-color: #50001B !important;*/
    background: rgb(50, 0, 0);
    background: linear-gradient(90deg, rgba(73, 4, 4, 1) 0%, rgba(120, 2, 2, 1) 45%, rgba(120, 2, 2, 1) 55%, rgba(73, 4, 4, 1) 100%);
}

.social-bar {
    right: 15px;
    position: absolute;
    text-align: center;
}

.social-icons li {
    display: inline;
    padding: 1px;
}

.copyright-text {
    text-align: center;
}

/*a:link {*/
/*    color: #f0f0f0 !important;*/
/*}*/

a:hover {
    color: grey !important;
}

.footer-icon, .footer-icon:hover {
    width: 31px;
    height: 40px;
    border: none !important;
}

.buttonIcon {
    background-color: transparent;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.footer-icon:hover {
    padding-bottom: 8px;
    opacity: 0.7;
}

.footer-bottom{
    margin-top: 20px;
}