.main-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #f0f0f0;
    background:  rgba(85, 4, 4, 1);
}

.footer-titles {
    font-weight: bold;
}

.social-bar {
    right: 15px;
    position: absolute;
    text-align: center;
}

.social-icons li {
    display: inline;
    padding: 4px;
}

.copyright-text {
    text-align: center;
}

.footer-links {
    color: white;
}

.footer-links:hover {
    color: grey !important;
    text-decoration: none;
}

.footer-icon, .footer-icon:hover {
    width: 31px;
    height: 40px;
    border: none !important;
}

.footer-icon:hover {
    padding-bottom: 8px;
    opacity: 0.7;
}

.footer-bottom {
    margin-top: 20px;
}