/*a {*/
/*    color: rgba(255, 255, 255, 0.5) !important;*/
/*    padding: 5px !important;*/
/*    text-underline: none !important;*/
/*}*/

/*Überschrift der Seite*/
/*h3 {*/
/*    padding: 5px;*/
/*    margin-right: 20px;*/
/*    color: #f0f0f0;*/
/*}*/

/*a:link {*/
/*    text-decoration: none !important;*/
/*}*/

/*Nav.bar && Buttons*/
/*.navLink {*/
/*    color: #c0c0c0;*/
/*    font-size: 18px;*/
/*    width: 160px;*/
/*    height: 60px;*/
/*}*/

/*.navbar {*/
/*    padding: 1px;*/
/*}*/

/*.navLink:hover {*/
/*    text-decoration: none;*/
/*    color: rgba(255, 255, 255, 0.5);*/
/*    background-color: rgba(255, 255, 255, 0.1);*/
/*    border-radius: 6px 6px 6px 6px;*/
/*    color: #f0f0f0;*/
/*}*/

/*.navLinkActive {*/
/*    border-bottom: 5px solid #d3d3d3;*/
/*    border-radius: 5px 5px 5px 5px;*/
/*    color: #f0f0f0;*/
/*}*/

.bg-red {
    /*background-color: #50001B !important;*/
    background: rgb(50, 0, 0);
    background: linear-gradient(90deg, rgba(50, 0, 0, 1) 0%, rgba(121, 16, 9, 1) 20%, rgba(121, 16, 9, 1) 80%, rgba(50, 0, 0, 1) 100%);
}

.header-icon, .header-icon:hover {
    width: 25px;
    height: 30px;
    margin: 10px;
}

/*Dropdown menu*/
.navDropdown {
    font-size: 20px;
    top: 5px;
    padding: 2px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #c0c0c0;
    font-size: 18px;
}

.dropdown:hover, .dropdown-item:hover {
    color: #f0f0f0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px 6px 6px 6px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px 10px 10px 10px;
}

/*Hintergrundfarbe des geöffneten dropdowns*/
.navbar-nav .dropdown-menu {
    background: rgba(121, 16, 9, 0.8) !important;
    color: #f0f0f0;
}

/*Dropdown Elemente*/
.dropdown-item {
    color: #c0c0c0;
    padding: 10px;
}

/*Dropdown Elemente Wenn Aktiv*/
.dropdown-item.active, .dropdown-item:active {
    background-color: unset;
    color: #f0f0f0;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown {
}