a {
    color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    text-underline: none;
}

h3 {
    padding: 5px;
    margin-right: 20px;
    color: #f0f0f0;
}

/*Nav.bar && Buttons*/
.navLink {
    color: #f0f0f0;
    text-align: center;
    font-size: 17px;
    margin: 5px;
    width: 150px;
    height: 60px;
}

.navLink:hover {
    text-decoration: none;
    color: #d3d3d3;
    background-color: grey;
    border-radius: 5px 5px 5px 5px;
}

.main-nav-active {
    border-bottom: 8px solid #d3d3d3;
    border-radius: 5px 5px 5px 5px;
}

img {
    width: 25px;
    height: 30px;
    margin: 10px;
}

/*Select Language*/
.navDropdown {
    font-size: 20px;
    /*position: absolute;*/
    /*right: 10px;*/
    top: 5px;
    padding: 2px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f0f0f0;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    text-decoration: none;
    color: #d3d3d3;
    background-color: grey;
    border-radius: 5px 5px 5px 5px;
}

.bg-dark{
    background-color: #550A21 !important;
}
