a {
    color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    text-underline: none;
}

/*Überschrift der Seite*/
h3 {
    padding: 5px;
    margin-right: 20px;
    color: #f0f0f0;
}

a:link {
    text-decoration: none;
}

/*Nav.bar && Buttons*/

/*.main-navbar {*/
/*    border-radius: 10px 10px 10px 10px;*/
/*    margin: 5px;*/
/*}*/

.navLink {
    color: #f0f0f0;
    text-align: center;
    margin: 5px;
    width: 150px;
    height: 60px;
}

.navLink:hover {
    text-decoration: none;
    color: #f0f0f0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px 6px 6px 6px;
}

.bg-dark {
    /*background-color: #50001B !important;*/
    background: rgb(50,0,0);
    background: linear-gradient(90deg, rgba(50,0,0,1) 0%, rgba(121,16,9,1) 20%, rgba(121,16,9,1) 80%, rgba(50,0,0,1) 100%);
}

.main-nav-active {
    border-bottom: 5px solid #d3d3d3;
    border-radius: 5px 5px 5px 5px;
}

.header-icon, .header-icon:hover {
    width: 25px;
    height: 30px;
    margin: 10px;
}

/*Select Language*/
.navDropdown {
    font-size: 20px;
    top: 5px;
    padding: 2px;
}

.navbar-dark .navbar-toggler {
    outline: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f0f0f0;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    text-decoration: none;
    color: #d3d3d3;
    background-color: grey;
    border-radius: 5px 5px 5px 5px;
}
