section {
    margin: 2em;
}

.home-content{
}

.home-title {
    text-align: center;
    color: #50001B;
    padding: 14px;
}

.home-text {
    padding: 15px;
    font-size: medium;
    color: #50001B;
}

.carousel-inner {
    height: 300px;
    max-width: 100%;
}


.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    /*background-color: #50001B !important;*/
}