section {
    margin: 2rem;
}

.title {
    text-align: center;
    color: #550A21;
    padding-bottom: 15px;
}

.home-text {
    padding: 10px;
    font-size: medium;
    color: #550A21;

}

.home-image{
    width: 100%;
    height: 100%;
}