.main-images {
}

img:hover {
    /*border: 2px solid ;*/
    width: 100%;
    bottom: 0;
}

.close_1x3s325 {
}

.close_1x3s325:hover {
    background-color: grey;
    background-size: 10px;
    border-radius: 10px 10px 10px 10px;
}

.arrow_b9bbag-o_O-arrow__direction__right_174p6a9-o_O-arrow__size__medium_9f7hgo:hover {
    background-color: grey;
}

.arrow_b9bbag-o_O-arrow__direction__left_shhpn5-o_O-arrow__size__medium_9f7hgo:hover {
    background-color: grey;
}