.MuiTabs-flexContainer {
    padding-top: 10px;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    outline: none;
}

.MuiTabScrollButton-root {
    padding-top: 18px !important;
}

.MuiTabs-root{
    overflow: unset !important;
}

.MuiBox-root-15{
    padding: 5px !important;
}