.MuiTabs-flexContainer {
    padding-top: 6px;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    outline: none;
}

.MuiTabScrollButton-root {
    padding-top: 18px !important;
}