.notFoundTitle {
    text-align: center;
    color: #50001B;
    padding: 14px;
}

.notFoundText {
    font-size: medium;
    color: #50001B;
}

.linkToHomepage {
    color: #50001B;
    font-weight: bold;
    font-size: 25px;
}

.linkToHomepage:hover {
    color: red;
}
